@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

.montserrat-brand {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.brand{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 850;
    font-style: normal;
    font-size: 18pt;
    color: #052140;
}

.d-flex{
    gap:1em;
}

.subbrand{
    font-family: "Impact";
    font-weight:bold;
    font-size: 9pt;
    border-radius: 30em;
    background-color: #FAD60B;
    padding: 5px;
    padding-left: 3em;
    padding-right: 3em;
    box-shadow: -2px -2px 7px black;
}

h1 {
    font-family: 'Alfa Slab One', serif;
}

.head-logo{
    font-family: 'Alfa Slab One', serif;
    font-size: 40pt;
    text-align: center;
}

h2, .header-link{
    font-family: 'Paytone One', sans-serif;
}

p, .register-link, .footer-color {
    font-family: 'Barlow', sans-serif;
    font-size: 14pt;
}

p{
    font-size: 15pt;
}

.card-text{
    font-size: 11pt;
}

.logo-img{
    width: 20vh;
    border-radius: 100%;

}

.blue-in-header, .btn-outline-primary{
    border-color: #052140;
    color: #052140;
}

.footer-color{
    color: #ffd020;
    background-color: #052140;
}

.footer-color{
    font-size: 11pt;
}

.register-link{
    border: 3px solid #ffd020;
    font-weight: bold;
    color: #ffd020;
}

.register-link:hover{
    color: #052140;
    background-color: #ffd020;
    box-shadow: 2px 2px 2px 2px #111;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    font-size: 72pt;
    border: 1px transparent;
    background-color: rgba(0,0,252,1);
    border-radius: 100%;
    padding: 0.2em;
}

.carousel {
  width: 100%; /* Set the carousel width to fill its container */
  overflow: hidden; /* Hide overflowing content */
}

.carousel-inner {
  display: flex; /* Use flexbox for the carousel items */
  transition: transform 0.3s ease; /* Smooth transition for sliding effect */
}

.carousel-item {
  flex: 0 0 100%; /* Set each carousel item to occupy full width */
  max-width: 100%; /* Ensure images don't exceed their container */
}

.carousel img {
  width: auto; /* Make images fill their parent container */
  height: auto; /* Maintain aspect ratio */
}

.post-section{
    padding-top:22vh;
    padding-bottom:2em;
}

.title-in-single{
    padding-top:18vh;
}


.link-btn{
    width:21em;
}

.date-in-single{
    font-size: 12pt;
    max-width: 100%;
}

.btn-primary, .btn-outline-primary:hover{
    background-color: #052140;
    border-color: #052140;
}

.btn-outline-primary, {
    border-color: #052140;
}

#background-landing {
    color: #ffd020;
    background: linear-gradient(-45deg, #ee7752, #4397D6, #002E73, #052140);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/**/
@media (max-width: 540px) {
    .head-logo{
        font-size: 32pt;
    }
    .welcome-section{
        padding-top:18vh;
    }
    .link-btn{
        width:15em;
    }
}

@media (max-width: 300px) {
    .head-logo{
        font-size: 28pt;
    }
    .welcome-section{
        padding-top:18vh;
    }
    .link-btn{
        width:13em;
    }
}
